@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="justify-content:center;display:flex;">
		<img src="~/css/Hospital.jpg" style="max-height:%100;max-width:%100" />
    </div>
    
</div>
