@model Doctor

@{
    ViewData["Title"] = Model == null ? "Doktor Ekle" : "Doktor Güncelle";
}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary">@(Model == null ? "Doktor Ekle" : "Doktor Güncelle")</h2>
                    <br>
                </div>

                <div class="mb-3">
                    <label asp-for="DoctorName" class="p-0">Doktor</label>
                    <input asp-for="DoctorName" class="form-control" />
                    <span asp-validation-for="DoctorName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DoctorBransId" class="p-0">Brans</label>
                    <select asp-for="DoctorBransId" asp-items="ViewBag.DoktorBransList" class="form-select"></select>
                    <span asp-validation-for="DoctorBransId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Polyclinic" class="p-0">Poliklinik</label>
                    <input asp-for="Polyclinic" class="form-control" />
                    <span asp-validation-for="Polyclinic" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="WorkingTimes" class="p-0">Çalışma Gün ve Saatleri</label>
                    <input asp-for="WorkingTimes" class="form-control" />
                    <span asp-validation-for="WorkingTimes" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-lg btn-primary" style="width:250px">@(Model == null ? "Ekle" : "Güncelle")</button>

                <a asp-controller="Doctor" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
                    Listeye geri dön
                </a>
            </div>
        </div>
    </div>
</form>

}
