@model Appointment
@{
    ViewData["Title"] = "Randevu Sil";
}

<form method="post">
    <input asp-for="Id" hidden />
    <!--
        eğer modeldeki metodun adı Id yerine bambaşka bir şey olsaydı, bu satırı yazmayınca program hata verirdi.(şu an örnek olsun diye yazıldı)
        Çünkü buradaki "Id" ismi asp için özel bir isim ve bu ismi koyduğun an bunun databasedeki "id" kavramına eşdeğer olduğunu sistem otomatik olarak algılıyor.
    -->
    <div class="border p-3 mt-5">

        <div class="row pb-3">
            <h2 class="text-primary"> sil</h2>
            </hr>
        </div>


        <div class="mb-3">
            <label asp-for="PatientName" class="p-0">PatientName</label>
            <input asp-for="PatientName" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DoctorId" class="p-0">Doktor Adı</label>
            <select asp-for="DoctorId" asp-items="ViewBag.DoktorList" disabled class="form-select"></select>
            <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Sil</button>

        <a asp-controller="Randevu" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
            Geri dön

        </a>

    </div>
</form>

@*@section Scripts{
    @{

        <partial name="_ValidationScriptsPartial"/>

    }
     *@

<!-- buradaki razor section kısmı, modelde verilen hata mesajının, front endde de sağlamasını yapmak içindir. -->
